@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4">
    <h4>@Model.Nome</h4>
    <h3>@Model.Preco.ToString("c")</h3>
    <a asp-controller="Lanches" asp-action="Details" asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
    <p>@Model.DescricaoCurta</p>
    <div>
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra"
            asp-route-lancheId="@Model.LancheId">
                Incluir no carrinho
            </a>
        </p>
    </div>
</div>